<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?Family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body>
    <div style="display: flex; justify-content: center;">
        <div style="width: 50%;">
            <div class="card">
            <form class="card-content black-text" method="post" action="/">
                <% if (error !== null) {%>
                <div class="row teal lighten-4">
                    <div class="col s12">
                        <p class="center-align"><%= error %></p>
                    </div>
                </div>
                <% } %>
                <span class="card-title">To-Do list!</span>
                <div class="input-field s6">
                    <input placeholder="Whatever you want to do..." id="task" type="text" name="task">
                    <label for="task">Insert Task</label>
                </div>
                <input class="btn" type="submit" value="ADD TASK"> 
               
            </form>

            <div class="card-action">
                <ul class="collection">
                <% tasks.forEach((task) => { %>
                    <li class="collection-item"><%= task.task%> <a href="delete-task/<%= task.id %>" class="secondary-content"><i class="material-icons">delete</i></a></li>
                <% }) %>
                </ul>
            </div>
            </div>
        </div>
    </div>
</body>