<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body>
    <div style="display: flex; justify-content: center;">
        <div style="width: 50%;">
            <div class="card">
            <div class="card-content black-text">
                <span class="card-title">To-Do list!</span>
                <div class="input-field s6">
                    <input placeholder="Whatever you want to do..." id="task_name" type="text" class="validate">
                    <label for="first_name">Task</label>
                </div>
                <a class="waves-effect waves-light btn">add task</a>
               
            </div>

            <div class="card-action">
                <% console.log(tasks) %>
                <ul class="collection">
                <% tasks.forEach((task) => { %>
                    <li class="collection-item"><%= task%></li>
                <% }) %>
                </ul>
            </div>
            </div>
        </div>
    </div>
</body>