<nav id="navbar">
    <h3 style="padding-left: 16px;">
        BOOK SHOP WOW
    </h3>
    <div style="position: absolute; right: 38px; padding: 5px; top: 15px">
        <a href="/" id="button">Shop</a>
        <a href="/cart" id="button">Shopping Cart</a>
        <a href="/admin" id="button">Admin View</a>
    </div>
</nav>